@require vars
@require home
@require tables
@require fileUploader

a, a:hover, a:active
  color:#ffffff !important
  text-decoration none !important
  cursor: pointer

*
  font-family: 'Open Sans', sans-serif;
  outline none
  margin: 0


html, body
  color darkgray
  margin:0
  padding:0
  height:100%;

iframe
  border: none

section
  overflow: hidden

.clear
  clear both

//-------LAYOUT-------
.main-content
  min-height: 100%
  height: auto
  position: relative
  overflow: hidden
