@import vars

.nt-table
  border 15px solid lightgray
  width: 100%
  margin-top: 30px
  margin-bottom: 20px

.nt-table > tbody > tr, .nt-table > tbody > tr > td, .nt-table > thead > tr, .nt-table > thead > tr > th
  border none

.nt-table > tbody > tr > td, .nt-table > thead > tr > th
  padding 10px 10px

.nt-table > thead > tr, .nt-table > thead > tr > th
  color darkgray
  text-align: left
  background: lightgray

.nt-table > tbody > tr, .nt-table > thead > tr
  border-bottom: 5px solid lightgray