section.content
    .col-sm-1
    .col-sm-10
        .row
            .col-sm-6
                .file-uploader(nv-file-drop uploader="snapshotUploader") Drop Snapshot file here
        .row
            .col-sm-12
                table.nt-table
                    thead
                        tr
                            th(ng-repeat="column in snapshotHeader", class="col-sm-{{::columnSize()}}").semibold {{::column}}
                    tbody
                        tr(ng-repeat="snapshotRow in snapshotData")
                            td(ng-repeat="column in snapshotRow", class="col-sm-{{::columnSize()}}") {{::column}}
    .col-sm-1